<!doctype html>
<html class="no-js" lang="">
    {{> head_tag }}
    <body class="body-tag">
        {{> header }}
        <div class="content-area">
            {{> body }}
        </div>
        {{> footer }}
        {{> footer_scripts }}
    </body>
</html>